*{ margin:0; padding:0;}
ul,ol,li {list-style-type:none}
a {font-size:12px; text-decoration:none}
h1 a {
	display:block;
	font:17px/50px NGBold; color:#fff; text-align:center;
}
#main-navbar {
	position:fixed; top:0; left:0; right:0; z-index:10;
	height:50px;
	background:#424448;
}
#toggle-sidebar {
	position:absolute; top:14px; left:14px; cursor:pointer;
}



#main-sidebar {
	position:fixed; top:0; bottom:0;
	background:#e5e5e5;
}
#main-sidebar .close-sb {
	background:#eb563e;
	padding:0 0 0 20px;
	border-bottom:1px solid #c11b00;
	font:20px/70px Acme; color:#fff; cursor:pointer;
}

#main-sidebar ul li>a {
	display:block;
	padding:0 0 0 20px;
	background:#e5e5e5;
	border-top:1px solid #f4f4f4; border-bottom:1px solid #d4d4d4;
	font:14px/48px NGBold; color:#555;
}

#main-sidebar ul li>a:hover {
	background:#333;
	border-top:1px solid #010101; border-bottom:1px solid #010101;
	color:#fff;
}
#main-sidebar ul li li>a {
	display:block;
	padding:0 0 0 20px;
	background:#f7f7f7;
	border-bottom:1px solid #dedee0;
	font:12px/43px NGBold; color:#555;
}
